# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Environment variables / Secrets
.env
.env.*

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dummy libs (binary files)
dummy_lib/*.so*

# Byte-compiled
*.pyc

# Livekit plugin binaries
livekit/
